#sobremim{
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
}

#sobremim h1{
    color: #fff;
    text-align: center;
}

#sobremim p{
    color: #fff;
    text-align: center;
    line-height: 2.5;
    padding: 50px;
}