#sobremim{
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: center;
}

#sobremim h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
}

#sobremim p{
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    padding: 50px;
}

/* Estilos para telas com largura máxima de 414px */
@media only screen and (max-width: 806px) {
    #sobremim {
        display: block;
        height: 700px;
    }

    #sobremim h1 {
        font-size: 50px; /* Reduz o tamanho do título */
    }

    #sobremim p {
        font-size: 20px; /* Reduz o tamanho do texto */
        padding: 20px; /* Reduz o espaçamento interno */
    }
}

@media only screen and (max-width: 708px) {
    #sobremim h1 {
        font-size: 40px; /* Reduz o tamanho do título */
    }

    #sobremim p {
        font-size: 16px; /* Reduz o tamanho do texto */
        padding: 20px; /* Reduz o espaçamento interno */
    }
}
@media only screen and (max-width: 469px) {
    #sobremim h1 {
        font-size: 30px; /* Reduz o tamanho do título */
    }

    #sobremim p {
        font-size: 13px; /* Reduz o tamanho do texto */
        padding: 20px; /* Reduz o espaçamento interno */
    }
}