#contato {
    display: flex; /* Torna o contêiner do footer um flex container */
}

#contato > div {
    flex: 1; /* Faz com que as divs ocupem a mesma largura */
}

#image-final img{
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 414px) and (max-height: 896px){
    #image-final img{
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 588px) and (max-height: 896px){
    #image-final img{
        width: 200px;
        height: 200px;
    }
}

.circle-out-hesitate {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.circle-out-hesitate a {
    color: #fff;
    text-decoration: none;
}

 