.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define as colunas com tamanho mínimo de 200px */
    gap: 10px; /* Espaçamento entre os itens */
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0;
}

.projetos li {
    background-color: #f0f0f0; /* Cor de fundo dos itens */
    padding: 10px; /* Espaçamento interno dos itens */
    border-radius: 5px; /* Bordas arredondadas */
}

.projetos a {
    text-decoration: none; /* Remove a decoração de texto dos links */
    color: #333; /* Cor do texto dos links */
    font-weight: bold; /* Deixa o texto em negrito */
}